<!-- <p>My fan color is : {{color}}</p>


<button [disabled]="isDisabled">Click me</button>

<button (click)="updateColor()">Update color</button>

<input type="text" [(ngModel)]="color">

<div>[(color)]</div> -->

<!-- <img [src]="imgSrc" [alt]="altText">
<img [src]="imgSrc" alt={{val}}> -->


<section class="about-me">
    <div class="container">
        <div class="aboutme-left">
            <h3>About Me</h3>
        </div>

        <div class="aboutme-content">
            <p>
                Hello , I'm Amr Ashraf a Fullstack Developer in .NET backend and modern frontend technologies like
                Angular & React. I specialize in building scalable, high-performance web applications that deliver
                seamless user experiences.

                

                
            </p>

            <a href="../../assets/Amr's Resume (1).pdf" download>Download CV</a>
        </div>

    </div>

</section>