<section class="skills-section">
    <div class="container">
        <h2>Skills</h2>
        <p> Hello , I'm Amr Ashraf a Fullstack Developer in .NET backend and modern frontend technologies like
            Angular & React. I specialize in building scalable, high-performance web applications that deliver
            seamless user experiences.</p>

        <div class="skills-wrapper">
            <div class="skills-left">
                <h3>My Skills</h3>
                <ul>
                    <li>Angular</li>
                    <li>React</li>
                    <li>ASP.NET MVC</li>
                    <li>ASP.NET API</li>
                    <li>SQLServer</li>
                </ul>


            </div>
            <div class="skill-right">
                <ul class="progress">
                    <li><span>Angular</span></li>
                    <li><span>React</span></li>
                    <li><span>.NET MVC</span></li>
                    <li><span>.NET API</span></li>
                    <li><span>SQLServer</span></li>
                    

                </ul>



            </div>
        </div>


    </div>

    


</section>