<section class="skills-section">
    <div class="container">
        <h2>Skills</h2>
        <p> Hello , I'm Amr Ashraf a Fullstack Developer in .NET backend and modern frontend technologies like
            Angular & React. I specialize in building scalable, high-performance web applications that deliver
            seamless user experiences.</p>

        <div class="skills-wrapper">
            <div class="skills-left">
                <h3>My Skills</h3>

                <ul>
                    @for (item of skills; track $index) {
                    <li>{{item}}</li>
                    }

                </ul>


            </div>
            <div class="skill-right">
                <ul class="progress">
                    @for (item of skills; track $index) {
                        <li><span>{{item}}</span></li>
                    }
                    


                </ul>



            </div>
        </div>


    </div>




</section>