<section class="section-portfolio">
    <div class="container">
        <h3>Portfolio</h3>

        <div class="cards-wrapper">

            @for (item of arrOfCards; track item.title) {


            <div class="card">
                <img [width]="item.width" [height]="item.height" [src]="item.src" [alt]="item.alt" />
                <h4>{{item.title}}</h4>
            </div>

            }@empty {
            <div class="card">
                <h4>No Skills found</h4>
            </div>
            }
            <!-- <div class="card">
                <img width="96" height="96"
                    src="https://img.icons8.com/external-goofy-color-kerismaker/96/external-Web-Developer-web-development-goofy-color-kerismaker.png"
                    alt="external-Web-Developer-web-development-goofy-color-kerismaker" />
                <h4>Web Design</h4>
            </div>

            <div class="card">
                <img width="50" height="50" src="https://img.icons8.com/ios/50/developer--v1.png" alt="developer--v1" />
                <h4>Mobile Design</h4>
            </div>

            <div class="card">
                <img width="64" height="64"
                    src="https://img.icons8.com/external-filled-outline-design-circle/64/external-Web-developer-development-filled-outline-design-circle.png"
                    alt="external-Web-developer-development-filled-outline-design-circle" />
                <h4>Logo Design</h4>
            </div>

            <div class="card">
                <img width="48" height="48" src="https://img.icons8.com/color/48/web-scraper.png" alt="web-scraper"/>
                <h4>Web Application Development</h4>
            </div>
            <div class="card">
                <img width="64" height="64" src="https://img.icons8.com/nolan/64/developer.png" alt="developer" />
                <h4>PWA Development</h4>
            </div>

            <div class="card">
                <img width="80" height="80" src="https://img.icons8.com/dotty/80/developer-mode.png"
                    alt="developer-mode" />
                <h4>Mobile Application Development</h4>
            </div> -->


        </div>
    </div>


</section>